<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/header.ejs") %>
    <main>
        <div class="questions-container">
        <% questions.forEach(question => { %>
         <div class="question">
             <h4><%= question.title %> </h4>
             <ol>
                 <li><%= question.ans1 %> </li>
                 <li><%= question.ans2 %> </li>
                 <li><%= question.ans3 %> </li>
                 <li><%= question.ans4 %> </li>
             </ol>
         </div>
        <% }) %>
        </div>
    </main>
    <%- include("./partials/footer.ejs") %> 
</body>
</html>