<%- include("./partials/header.ejs") %>
<main>
    <h2>Quiz:</h2>
    <div class="quiz-container">
        <% questions.forEach((question, idx) => { %>
            <form class="question" id="<%= question._id %>" action="">
                <h4><span><%= idx + 1 %> - </span><%= question.title %></h4>
                <ol type="A">
                    <li><input type="radio" name="<%= question._id %>" value="ans1" id="ans1_<%= question._id %>">
                        <label for="ans1_<%= question._id %>" id="ans1_<%= question._id %>_label"> <%= question.ans1 %></label></li>
                    <li><input type="radio" name="<%= question._id %>" value="ans2" id="ans2_<%= question._id %>">
                        <label for="ans2_<%= question._id %>" id="ans2_<%= question._id %>_label"> <%= question.ans2 %></label></li>
                    <li><input type="radio" name="<%= question._id %>" value="ans3" id="ans3_<%= question._id %>">
                        <label for="ans3_<%= question._id %>" id="ans3_<%= question._id %>_label"> <%= question.ans3 %></label></li>
                    <li><input type="radio" name="<%= question._id %>" value="ans4" id="ans4_<%= question._id %>">
                        <label for="ans4_<%= question._id %>" id="ans4_<%= question._id %>_label"> <%= question.ans4 %></label></li>
                </ol>
            </form>
            <hr>
        <% }) %>
        <button id="submitQuiz"><b>S</b>ubmit <b>Q</b>uiz</button>
    </div>
    <div id="quizResultModal">
        <div class="quiz-result">
            <span id="closeModal">&times;</span>
            <h3>Quiz Result</h3>
            <div>
                <div><p>Right answers: <span id="rightAnswersAmount" class="correct">0</span></p></div>
                <div><p>Wrong answers: <span id="wrongAnswersAmount" class="wrong">0</span></p></div>
            </div>
            <div><p>Score: <span id="totalScore">0</span></p></div>
        </div>
    </div>
</main>
<script src="/js/axios.min.js"></script>
<script src="/js/quizScript.js"></script>
<%- include("./partials/footer.ejs") %>